<h1 class="category_header">Genres</h1>

<% @genres.each do |genre| %>
    <div class = "element_box">
        <div class="genre_name"><%= genre.name %></div>
        <%= link_to 'Show', genre %>
        <%= link_to 'Edit', edit_genre_path(genre) %>
        <%= link_to 'Delete', genre, method: :delete, data: { confirm: 'Are you sure?' } %>
        <div class ="clear"></div>
    </div>
<% end %>