<p class="show_title" > <%= @genre.name %> </p>

<div class="backpage"><< <%= link_to 'Back', genres_path %></div><!-- .back -->
<div class="clear"></div>

</div><!-- .list -->

<div class="edit_button"><%= link_to 'Edit', edit_genre_path(@genre) %></div><!-- .edit_button -->


