<div class="add_edit_header"><h1>Editing Artist</h1></div><!--.add_edit_header-->

<%= render 'form' %>

<%= link_to 'Show', @artist, :class => "link" %> |
<%= link_to 'Back', artists_path, :class => "link" %>