
<p>
  <b>Name:</b>
  <%= @artist.name %>
</p>

 <div class ="clear">
	</div>

<p>
  <b>Photo:</b>
  <div class ="clear">
	</div>
  <%= image_tag @artist.photo %>
</p>

 <div class ="clear">
	</div>


<%= link_to 'Edit', edit_artist_path(@artist) %> 
<%= link_to 'Back', artists_path %>