

<%= image_tag 'homepage.gif', :class => "home_image" %>



<div class= 'element_home'>
	<p class = "home_text">Lorem ipsum dolor sit amet, in erroribus abhorreant scribentur eam. Ut mel magna delicatissimi, usu hinc modus tractatos ad, mei eros nostrud explicari at. Pri agam illud cu. Quem viderer repudiandae vix ad, usu enim evertitur adversarium cu. No populo periculis vis, altera oporteat torquatos eu nam. No suscipit expetenda suavitate vim, mei petentium erroribus definitionem et.
	</p>	
</div>

<div class= 'element_home'>
	<p class = "home_text" >Lorem ipsum dolor sit amet, in erroribus abhorreant scribentur eam. Ut mel magna delicatissimi, usu hinc modus tractatos ad, mei eros nostrud explicari at. Pri agam illud cu. Quem viderer repudiandae vix ad, usu enim evertitur adversarium cu. No populo periculis vis, altera oporteat torquatos eu nam. No suscipit expetenda suavitate vim, mei petentium erroribus definitionem et.
	</p>	
</div>

