
  
  <% @artists.each do |artist| %>
  <div class = "library">	
  <div class ="library_artist" ><%= artist.name%></div>

  <% @albums.each do |album| %>

    <% if album.artist_id == artist.id %>
      <div class ="library_album" ><%= album.name %></div>
    
      <ul>
        <% @songs.each do |song| %>

          <% if song.album_id == album.id %>
            <li class ="library_song" ><%= song.name %></li>
          <% end %>
        
        <% end %> 
      </ul>

    <% end %>  
  <% end %>
</div><!--.library-->


  <% end %>

