
  
  <% @artists.each do |artist| %>
  <div class = "library">	
  <li><%= artist.name %></li>

  <ul>
  <% @albums.each do |album| %>

    <% if album.artist_id == artist.id %>
      <li><%= album.name %></li>
    
      <ul>
        <% @songs.each do |song| %>

          <% if song.album_id == album.id %>
            <li><%= song.name %></li>
          <% end %>
        
        <% end %> 
      </ul>

    <% end %>  
  <% end %>
  </ul>
</div>

  <% end %>

