
  
  <% @artists.each do |artist| %>
  <div class = "library">	
  <li class ="library_artist" ><%= artist.name%></li>

  <ul>
  <% @albums.each do |album| %>

    <% if album.artist_id == artist.id %>
      <li class ="library_album" ><%= album.name %></li>
    
      <ul>
        <% @songs.each do |song| %>

          <% if song.album_id == album.id %>
            <li class ="library_song" ><%= song.name %></li>
          <% end %>
        
        <% end %> 
      </ul>

    <% end %>  
  <% end %>
  </ul>
</div>

  <% end %>

