<div class="add_edit_header"><h1>Editing Songs</h1></div><!--.add_edit_header-->

<%= render 'form' %>

<%= link_to 'Show', @song, :class => "link" %> 
<%= link_to 'Back', songs_path, :class => "link" %>