
<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<div class ="clear">
	</div>

<p>
  <b>Photo:</b>

  <div class ="clear">
	</div>

  <%= image_tag @song.photo %>
</p>

<div class ="clear">
	</div>


<%= link_to 'Edit', edit_song_path(@song) %> 
<%= link_to 'Back', songs_path %>