@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Subrayada);



/*--------------------- SETUP ------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firefox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right; 
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left; 
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/*--------------------- BASE STYLES ------------------*/

body {
  font-family: 'Source Code Pro', sans-serif;
  background-image: url('assets/images/rails.png');
  color: #FFAE00;
  background-color: #333;
}

header {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 100px;
}


  header a {
    color: #FFAE00;
  }

footer{
  margin: 0 auto;
  background-color: red;
}

/*--------------------- NAV BAR ------------------*/

nav {
  background: #E8E8E8; 
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 900px;
  color: black;
}

nav li {
  font-family: 'Source Code Pro', sans-serif;
  text-align: left;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bolder;
  float: left;
  text-align: center;
  color: black;
  list-style: none;
}
<<<<<<< HEAD
   nav li a {
      text-decoration: none;
      display: block;
      color: white;
   }
=======
     nav li a {
        text-decoration: none;
        display: block;
     }

     nav li a:hover {
      color: green;
     }

footer{
  margin: 50px 260px;
  color: gray;
}

/*--------------------- LAYOUT ------------------*/


#container {
  width: 900px;
  margin: 0 auto;
  padding: 20px 30px;
  min-height: 900px;
  background: white;
  text-decoration: none;
}

#topz {
  width: 900px;
  margin: 0 auto;
  background: white;
  height: 100px;
}
>>>>>>> f09f3912788cda79ca57f088d171f2af1d32b015

   nav li a:hover {
    color: gray;
   }

.category {
  color: white;
  text-decoration: none;
}

.add {
  color: black;
  text-align: left;
  margin-right: 50px;
  margin-left: 5px;
  text-decoration: none;
  font-size: 15px;
  margin-top: 1px;
}

.home {
  margin: 0 50px 10px 77px;
  text-decoration: none;
}

/*--------------------- LAYOUT ------------------*/


#container {
  width: 900px;
  margin: 0 auto;
}

#main {
  width: 900px;
  margin: 0 auto;
  background: white;
}



/*--------------------- CATEGORY PAGES ------------------*/



/*--------------------- FORMS ------------------*/

.form_ui {
  width:  600px;
  margin-left:  60px;
  padding:  15px;
  min-height: 150px;
  border-bottom-left-radius: 20px;
  box-shadow: 3px 1px 25px #FFAE00;
}

.element_box{
  float: left;
  border: 1px solid black;
  margin: 10px;
  padding: 26px;
  width: 260px;
}

.home_image{

  width: 550px;
  height: 550px;
}
<<<<<<< HEAD
=======

.library{
  float: left;
  border: 1px solid black;
  margin: 10px;
  padding: 26px;
  width: 260px;
  height: 400px;
}

>>>>>>> f09f3912788cda79ca57f088d171f2af1d32b015


