@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Subrayada);



/*--------------------- SETUP ------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firefox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right; 
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left; 
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/*--------------------- BASE STYLES ------------------*/

body {
  font-family: Helvetica, sans-serif;
  background: white;
  text-decoration: none;
  color: black;
  background-color: #333;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: -3px;
  margin-bottom: 40px;
  color: black;
}

header {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 240px;
  color: black;
  font-weight: bold;
  font-family: 'Montserrat Subrayada', sans-serif;
  float: left;

}

footer{
  margin-top: 30px;
  margin: 0 300px;

}

header a {
  color: black;
}

nav {
  float: left;
  text-decoration: none;
  color: black;
}

nav ul {
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: black;
}

nav li {
  font-family: 'Source Code Pro', sans-serif;
  padding: 5px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  float: left;
  text-align: center;
  color: black;
}
     nav li a {
        text-decoration: none;
        display: block;
     }

     nav li a:hover {
      color: green;
     }

/*--------------------- LAYOUT ------------------*/


#container {
  width: 900px;
  margin: 0 auto;
  margin-top:30px;
  padding: 20px 100px;
  min-height: 900px;
  background: white;
  text-decoration: none;
  border: 2px solid black;
}

.category {
  color: white;
  text-decoration: none;
}

.add {
  color: black;
  text-align: left;
  margin-right: 50px;
  text-decoration: none;
  font-size: 15px;
  margin-top: 1px;
}

.home {
  margin: 0 50px 0 50px;
  text-decoration: none;
}

img{
  height: 200px;
  width: 200px;
}


