/*
*= require 'nav'
*/

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Subrayada);
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(http://fonts.googleapis.com/css?family=Inder);

/*--------------------- SETUP ------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firefox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right; 
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left; 
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/*--------------------- LAYOUT ------------------*/

body {
  font-family: 'Inder', sans-serif;
  background-image: url('px_by_Gre3g.png');
  color: #fff;
  background-color: #333;
  text-decoration: none;
}


#container {
  width: 900px;
  margin: 0 auto;
  min-height: 900px;
}

header {
  margin-top: 30px;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 100px;
}

  header a {
    color: #FFAE00;
  }

#main {
  margin: 0 auto;
  width: 900px;
}

footer{
  margin: 0 -10px 0 -10px;
  padding: 20px;
  background-color: #111;
  text-align: center;
}

/*--------------------- NAV BAR ------------------*/

/*nav {
  text-transform: uppercase;
  margin: 0 auto 70px auto;
  width: 756px;
}

nav li {
  font-family: 'Julius Sans One', sans-serif;
  text-align: left;
  font-size: 20px;
  float: left;
  list-style: none;
}

   nav li a {
      text-decoration: none;
      color: white;
   }

   nav li a:hover {
    color: #FFAE00;
   }

.category {
  margin-left: 50px;
}

.add {
  margin-left: 5px;
  font-size: 15px;
  margin-top: 1px;
}
*/
/*--------------------- HOME PAGE ------------------*/

.element_home{
  float: left;
  width: 400px;
  height: 400px;
  background-color: rgba(255,255,255,.1);
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 30px;
  border-radius: 5px;
}

.home_text{
  font-size: 15px;
  font-style: cursive;
}

.home_image{
  width: 800px;
  height: 150px;
  margin-left: 50px;
  margin-top: -30px;
  opacity: 0.5;
}


/*--------------------- CATEGORY PAGES ------------------*/

.category_header {
  font-size: 60px;
}

.element_box {
  margin-bottom: 30px;
  background-color: rgba(255,255,255,.1);
  padding: 10px 0 10px 20px;
  border-radius: 5px;
}

.element_box:hover {
border: 1px solid #FFAE00;
}

.element_box img {
  height: 150px;
  float: left;
  margin-right: 40px;
}

.element_box a {
  text-decoration: none;
  padding-top: 10px;
  margin: 45px 10px 0 0;
  height: 40px;
  width: 80px;
  text-align: center;
  background-color: black;
  display: block;
  float: left;
  color: white;
}

.element_box a:hover {
  background-color: gray;
}

/*--------------------- INDEX PAGES ------------------*/

.artist_name {
  font-size: 25px;
  float: left;
  padding-top: 40px;
  width: 350px;
  text-align: center;
}

.index_photo{
  height: 100px;
  width: 150px;
}

.album_name {
  font-size: 25px;
  float: left;
  padding-top: 40px;
  width: 350px;
  text-align: center;
}

.song_name {
  font-size: 25px;
  float: left;
  padding-top: 40px;
  width: 350px;
  text-align: center;
}

/*--------------------- FORMS ------------------*/

.edit_title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
}

.form_ui {
  width:  600px;
  margin-left:  150px;
  padding:  15px;
  min-height: 150px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 3px 1px 25px #FFAE00;
}

.form_name {
  margin-bottom: 20px;
  font-size: 20px;
}

.form_name input {
  width: 300px;
  height: 30px;
  font-size: 14px;
}

.form_photo {
  margin-bottom: 20px;
  font-size: 20px;
}

.form_photo input.button {
  width: 300px;
  height: 200px;
}

.link {
  text-decoration: none;
  color: white;
}

.link a {
  color: #FFAE00;
}

.add_edit_header {
  margin-left: 150px;
}

/*--------------------- SHOW PAGES ------------------*/

.backpage {
  text-align: right;
}

.backpage a {
  text-decoration: none;
  color: white;
  text-align: right;
}

.backpage a:hover {
  color: gray;
}

.show_title {
  font-size: 30px;
  margin: 30px 0 20px 0;
}

h2{
  font-size: 20px;
  margin: 30px 0 20px 0;
}

.show_name {
  font-size: 30px;
  margin: 30px 0 20px 0;
}

.show_photo {
  width: 400px;
  height: 400px;
}

.edit_button a {
  text-decoration: none;
  padding-top: 10px;
  height: 40px;
  width: 80px;
  text-align: center;
  background-color: black;
  display: block;
  float: left;
  color: white;
}

.edit_button a:hover {
  background-color: gray;
}

.list {
  list-style: none;
}

.list li a {
  text-decoration: none;
  color: white;
}

.list li a:hover {
  color: gray;
}

.artist_album p a {
  text-decoration: none;
  color: white;
}

.artist_album p a:hover {
  color: gray;
}

/*--------------------- LIBRARY ------------------*/

.library{
  float: left;
  width: 280px;
  height: 350px;
  background-color: rgba(255, 255, 255, .1);
  margin: 10px;
  padding: 0px;
  border-radius: 5px;
}

.library:hover{

}

.library_artist{
  background: #189495;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-transform: uppercase;
  width: 280px;
  padding: 10px 0 10px 0;
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
  list-style: none;
  text-align: center;
  color: white;
}

.library_album{
  text-transform: uppercase;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 17px;
  margin-bottom: 10px;  
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.library_song{
  font-size: 12px;
  margin-top: 2px;  
  margin-left: -10px;
  padding-left: 15px;
  padding-right: 15px;
}

/*--------------------- JAVASCRIPT ------------------*/

.errors {
  list-style-type: none;
  color:  red;
  font-size:  20px;
  padding-left: 85px;
}

.alert {
  border: 2px solid #228D00;
  background: #65EC3B; 
  color:  #228D00;
  padding: 20px;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  opacity: 0.5;
}











