/*--------------------- NAV BAR ------------------*/

nav {
  text-transform: uppercase;
  margin: 0 auto 70px auto;
  width: 756px;
  
  li {
  font-family: 'Julius Sans One', sans-serif;
  text-align: left;
  font-size: 20px;
  float: left;
  list-style: none;
  }

  a {
      text-decoration: none;
      color: white;
   }

   li a:hover {
    color: #FFAE00;
   }
}

.category {
  margin-left: 50px;
}

.add {
  margin-left: 5px;
  font-size: 15px;
  margin-top: 1px;
}